<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Student</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Update student</h2>
<form action="#" th:action="@{/student/update}"
      th:object="${student}" method="post">
    <table>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" /></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Degree</label></td>
            <td><input type="text" th:field="*{degree}" /></td>
        </tr>
        <tr>
            <td><label>Balance</label></td>
            <td><input type="number" th:field="*{balance}" /></td>
        </tr>
        <!--        <tr>-->
        <!--            <td><label>isSKP</label></td>-->
        <!--            <td><input type="number" th:field="*{balance}" /></td>-->
        <!--        </tr>-->
        <tr>
            <td colspan="2"><input type="submit" value="Update Student" /></td>
        </tr>
    </table>
</form>
</body>
</html>