/* ----------- COLOURS ----------- */
/*

    #062744 - azul oscuro
    #63bb9d - verde
    #ededed - gris claro
    #eb895b - naranja
    #ffffff - blanco

*/

/* ----------- CLASSES ----------- */
.right {
    text-align: right;
}

.left {
    text-align: left;
}

.menuP {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    line-height: 3;
}

.bar{
    font-size: 95%;
    font-family: Arimo-Regular;
    background-color: #062744;
    color: #ffffff !important;
}

.logoText{
    font-size: 150%;
    font-family: Bellota-Bold;
    color: #ffffff !important;
}

/* ----------- POP UP ----------- */

.popUpBody{
    font-size: 95%;
    font-family: Arimo-Regular;
    text-align: left;
    margin: 30px;
}

/* ----------- BUTTONS ----------- */
.buttonWarning {
    background-color: #eb895b;
    font-size: 90%;
    font-family: Arimo-Bold;
    border: 1px solid #062744;
}
.buttonEdit {
    background-color: #ededed;
    font-size: 90%;
    font-family: Arimo-Bold;
    border: 1px solid #062744;
}
.buttonAddA {
    background-color: #63bb9d;
    color: #ffffff;
    font-size: 100%;
    font-family: Arimo-Bold;
    border: 2px solid #062744;
    width: 90%;
    letter-spacing: 1px;
}

.buttonAddB {
    background-color: #062744;
    color: #ffffff;
    font-size: 90%;
    font-family: Arimo-Bold;
    border: 1px solid #062744;
}

/* ----------- TABLE ----------- */
table{
  border: 1px solid #ddd;
}
th{
   background-color: #63bb9d;
   color: #ffffff;
   font-family: Arimo-Bold;
   text-align: center;
}
tr{
   font-family: Arimo-Regular;
   text-align: center;
}


/* ----------- HEADERS ----------- */
h1{
   color: #062744;
   font-family: Arimo-Bold;
   font-size: 210%;
   text-align: center;

}
h2{
   color: #062744;
   font-family: Arimo-Bold;
   font-size: 180%;
   text-align: left;
}
h3{
   color: #062744;
   font-family: Arimo-Bold;
   font-size: 140%;
   text-align: left;
}

/* ----------- FORMS ----------- */
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}
.card {
    margin-left: 10px;
    margin-right: 10px
}

label{
    font-family: Arimo-Regular;
}
input{
    font-family: Arimo-Regular;
}

textarea{
    font-family: Arimo-Regular;
}



/* ----------- FONTS ----------- */
@font-face {
  font-family: Arimo-Regular;
  src: url("../fonts/Arimo-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Arimo-Bold;
  src: url("../fonts/Arimo-Bold.ttf") format('truetype');
}

@font-face {
  font-family: Arimo-Italic;
  src: url("../fonts/Arimo-Italic.ttf") format('truetype');
}

@font-face {
  font-family: Bellota-Regular;
  src: url("../fonts/BellotaText-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Bellota-Bold;
  src: url("../fonts/BellotaText-Bold.ttf") format('truetype');
}

@font-face {
  font-family: Bellota-Italic;
  src: url("../fonts/BellotaText-Italic.ttf") format('truetype');
}