<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head>
    <link type="text/css" th:href="@{/css/base.css}" href="/css/base.css" rel="stylesheet"/>
</head>

<div class="loggeduser" th:object="${session}">
    <nav class="navbar navbar-expand-lg bar py-0">

            <!-- logo -->
            <a class="navbar-brand" href="/" th:href="@{/}">
                <img src="../static/images/logoSkillSharing.png"
                     th:src="@{/images/logoSkillSharing_solo_white.png}" width="50" height="50" class="d-inline-block align-top" alt="">
            </a>
            <a class="navbar-brand logoText" href="/" th:href="@{/}">
                Skill Sharing
            </a>

            <!-- botones -->
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav"> <!-- botones izq -->
                    <li class="nav-item">
                        <a class="nav-link bar" th:href="@{/offer/list}">Offers <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bar" href="/request/list" th:href="@{/request/list}">Requests</a>
                    </li>

                    <!-- info usuario -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bar" href="#" id="navbarDropdownMenuLinkUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkUser">
                            <a class="dropdown-item" href="#">My Offers</a>
                            <a class="dropdown-item" href="#">My Requests</a>
                            <a class="dropdown-item" href="/profile/myCollaborations" th:href="@{/collaboration/listmycollaborations}">My Collaborations</a>
                            <a class="dropdown-item" href="/student/profile" th:href="@{/student/profile}">Profile</a>
                        </div>
                    </li>

                    <!-- info SKP -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bar" href="#" id="navbarDropdownMenuLinkSKP" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SKP
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSKP">
                            <a class="dropdown-item" href="/skill/list" th:href="@{/skill/list}">Skills</a>
                            <a class="dropdown-item" href="statistics">Statistics</a>
                            <a class="dropdown-item" href="/student/list" th:href="@{/student/ban}">Manage Students</a>
                            <a class="dropdown-item" href="/collaboration/list" th:href="@{/collaboration/list}">Manage Collaborations</a>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto" > <!-- botones der -->
                    <li class="nav-item">
                        <a class="nav-link bar" href="/login" th:href="@{/login}">Log in<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bar" href="/logout" th:href="@{/logout}">Log out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bar" href="/register" th:href="@{/register}">Register</a>
                    </li>

                    <p th:if="*{user == null}">
                        <a href="/login" th:href="@{/login}">No autenticat Entrar</a>
                    </p>
                    <p th:unless="*{user == null}">
                        <a href="/logout" th:href="@{/logout}">Autenticat com <span th:text="*{user.name}"></span> Eixir</a>
                    </p>
                </ul>

            </div>
    </nav>
</div>
<br>
<br>
<br>
<br>

<!-- imports -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>