<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <!-- app css -->
    <link type="text/css" th:href="@{/css/base.css}" href="/css/base.css" rel="stylesheet"/>
    <title layout:title-pattern="$CONTENT_TITLE">Skill Sharing</title>
</head>

<!-- Fragmentos que todas las paginas tienen que tener-->


<body class="container">

    <div th:replace="fragments/bar"></div>
    <div layout:fragment="content"></div>

    <footer>
        <hr>
        <p class="text-muted">Raul Martí Muñoz, Izan Rivera Romero y Felicitas Agüero Pratto</p>
    </footer>

</body>
</html>
