<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Manage Your Collaborations</title>
    <link type="text/css" th:href="@{static/css/base.css}" href="static/css/base.css" rel="stylesheet"/>
</head>
<body>

<div layout:fragment="content">
    <h1>Your Collaborations</h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="notStarted-tab" data-toggle="tab" href="#notStarted" role="tab" aria-controls="notStarted" aria-selected="true"><h3>Not started</h3></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inProgress-tab" data-toggle="tab" href="#inProgress" role="tab" aria-controls="inProgress" aria-selected="false"><h3>In Progress</h3></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="finished-tab" data-toggle="tab" href="#finished" role="tab" aria-controls="finished" aria-selected="false"><h3>Finished</h3></a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <!-- NOT STARTED -->
        <div class="tab-pane fade show active" id="notStarted" role="tabpanel" aria-labelledby="notStarted-tab">

            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Collaboration id</th>
                    <th>Skill name</th>
                    <th>Skill level</th>
                    <th>Place</th>
                    <th>State (debug)</th>
                    <th>Score</th>
                    <th>Hours</th>
                    <th>Start day</th>
                    <th>End day</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="collaboration: ${collaborationsNotStarted}">
                    <td th:text="${collaboration.id}"></td>
                    <td th:text="${skillsInfo.get(collaboration.skillId).name}"></td>
                    <td th:text="${skillsInfo.get(collaboration.skillId).level}"></td>
                    <td th:text="${collaboration.place}"></td>
                    <td th:text="${collaboration.state}"></td>
                    <td th:text="${collaboration.score}"></td>
                    <td th:text="${collaboration.hours}"></td>
                    <td th:text="${collaboration.startDate}"></td>
                    <td th:text="${collaboration.endDate}"></td>
                    <td>
                        <a data-toggle="modal" th:attr="data-target='#popup'+${collaboration.id}" class="btn buttonEdit">Start</a>
                        <!-- Pop up -->
                        <div class="modal fade" th:id="'popup' + ${collaboration.id}" tabindex="-1" role="dialog" aria-labelledby="startModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 id="startModalLabel">Are you sure?</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="popUpBody">
                                        Are you sure you want start this collaborations </b> (<b th:text="${collaboration.id}"></b>) ? <br>
                                        (This action can NOT be reversed)
                                        <br>
                                        <br>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn buttonEdit" href="#" data-dismiss="modal">Cancel</a>
                                        <a th:href="@{/collaboration/setInProgress/{id}(id=${collaboration.id})}" class="btn buttonEdit">Start</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- END Pop up -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- IN PROGRESS -->
        <div class="tab-pane fade" id="inProgress" role="tabpanel" aria-labelledby="inProgress-tab">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Collaboration id</th>
                    <th>Skill name</th>
                    <th>Skill level</th>
                    <th>Place</th>
                    <th>State (debug)</th>
                    <th>Score</th>
                    <th>Hours</th>
                    <th>Start day</th>
                    <th>End day</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="collaboration: ${collaborationsInProgress}">
                    <td th:text="${collaboration.id}"></td>
                    <td th:text="${skillsInfo.get(collaboration.skillId).name}"></td>
                    <td th:text="${skillsInfo.get(collaboration.skillId).level}"></td>
                    <td th:text="${collaboration.place}"></td>
                    <td th:text="${collaboration.state}"></td>
                    <td th:text="${collaboration.score}"></td>
                    <td th:text="${collaboration.hours}"></td>
                    <td th:text="${collaboration.startDate}"></td>
                    <td th:text="${collaboration.endDate}"></td>
                    <td>
                        <a data-toggle="modal" th:attr="data-target='#popup'+${collaboration.id}" class="btn buttonEdit">Finish</a>
                        <!-- Pop up -->
                        <div class="modal fade" th:id="'popup' + ${collaboration.id}" tabindex="-1" role="dialog" aria-labelledby="finishModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 id="finishModalLabel">Are you sure?</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="popUpBody">
                                        Are you sure you want finish this collaborations (<b th:text="${collaboration.id}"></b>) ? <br>
                                        (This action can NOT be reversed)
                                        <br>
                                        <br>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn buttonEdit" href="#" data-dismiss="modal">Cancel</a>
                                        <a th:href="@{/collaboration/setFinished/{id}(id=${collaboration.id})}" class="btn buttonEdit">Finish</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- END Pop up -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- FINISHED -->
        <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="finished-tab">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Collaboration id</th>
                    <th>Student Offer</th>
                    <th>Student Request</th>
                    <th>Skill name</th>
                    <th>Skill level</th>
                    <th>Place</th>
                    <th>State (debug)</th>
                    <th>Score</th>
                    <th>Hours</th>
                    <th>Start day</th>
                    <th>End day</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="collaboration: ${collaborationsFinished}">
                    <td th:text="${collaboration.id}"></td>
                    <td th:text="${studentsInfo.get(offersInfo.get(collaboration.idOffer).dniOffer).name}"></td>
                    <td th:text="${studentsInfo.get(requestsInfo.get(collaboration.idRequest).dniRequest).name}"></td>
                    <td th:text="${skillsInfo.get(collaboration.skillId).name}"></td>
                    <td th:text="${skillsInfo.get(collaboration.skillId).level}"></td>
                    <td th:text="${collaboration.place}"></td>
                    <td th:text="${collaboration.state}"></td>
                    <td th:text="${collaboration.score}"></td>
                    <td th:text="${collaboration.hours}"></td>
                    <td th:text="${collaboration.startDate}"></td>
                    <td th:text="${collaboration.endDate}"></td>
                    <p th:if="*{collaboration.hours == 0.0}">
                        <td><a th:href="@{/collaboration/edit/{id}(id=${collaboration.id})}" class="btn buttonEdit">Edit</a></td>
                    </p>
                    <p th:if="*{collaboration.hours > 0.0}">
                        <td><b> Complete </b></td>
                    </p>
                </tr>
                </tbody>
            </table>

        </div>


    </div>

    <br>
    <div class="center">
        <a href="add" class="btn buttonAddA">Add Collaboration (No R15)</a>
    </div>




</div>


</body>
</html>