<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Manage Your Offers</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="content"> <!-- insertamos contenido -->
    <div class="loggeduser" th:object="${session}">
        <p th:if="*{user == null}">
            <meta http-equiv="refresh" content="0; URL=/login" th:href="@{/login}"/>
        </p>
    </div>
    <h1>Your Offers</h1>
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Skill name</th>
                    <th>Skill level</th>
                    <th class="description">Description</th>
                    <th>Starting day</th>
                    <th>Ending day</th>
                    <th colspan="2"><a th:href="@{/offer/add}" class="btn buttonAddA">Add Offer</a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="offer: ${offers}">
                    <td th:text="${offer.name}"></td>
                    <td th:text="${skillsInfo.get(offer.skillId).name}"></td>
                    <td th:text="${skillsInfo.get(offer.skillId).level}"></td>
                    <td th:text="${offer.description}"></td>
                    <td th:text="${offer.startDate}"></td>
                    <td th:text="${offer.endDate}"></td>
                    <td><a th:href="@{/offer/update/{idOffer}(idOffer=${offer.id})}" class="btn buttonEdit">Edit</a></td>
                    <td>
                        <a data-toggle="modal" th:attr="data-target='#popup'+${offer.id}" class="btn buttonWarning">Delete</a>
                        <!-- Pop up -->
                        <div class="modal fade" th:id="'popup' + ${offer.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 id="deleteModalLabel">Are you sure?</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="popUpBody">
                                        Are you sure you want to delete <b th:text="${offer.name}"></b> (<b th:text="${offer.id}"></b>) ? <br>
                                        (This action can NOT be reversed)
                                        <br>
                                        <br>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn buttonEdit" href="#" data-dismiss="modal">Cancel</a>
                                        <a th:href="@{/offer/delete/{id}(id=${offer.id})}" class="btn buttonWarning">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- END Pop up -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    <br>
</div>
</body>
</html>