<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Create Skill</title>
    <link type="text/css" th:href="@{static/css/base.css}" href="static/css/base.css" rel="stylesheet"/>
</head>
<body>

<div class="loggeduser" th:object="${session}">
    <p th:if="*{user == null}">
        <meta http-equiv="refresh" content="0; URL=/login" th:href="@{/login}"/>
    </p>
</div>

<h2>New collaboration</h2>
<form action="#" th:action="@{/collaboration/add}"
      th:object="${collaboration}" method="post">
    <table>
        <tr>
            <td><label>Offer's DNI</label></td>
            <td><input type="text" th:field="*{dniOffer}" /></td>
        </tr>
        <tr>
            <td><label>Request's DNI</label></td>
            <td><input type="text" th:field="*{dniRequest}" /></td>
        </tr>
        <tr>
            <td><label>Skill ID</label></td>
            <td><input type="number" th:field="*{skillId}" /></td>
        </tr>
        <tr>
            <td><label>Place</label></td>
            <td><input type="text" th:field="*{place}" /></td>
        </tr>
        <tr>
            <td><label>State</label></td>
            <td><input type="text" th:field="*{state}"/></td>
        </tr>
        <tr>
            <td><label>Score</label></td>
            <td><input type="number" th:field="*{score}"/></td>
        </tr>
        <tr>
            <td><label>Hours</label></td>
            <td><input type="number" th:field="*{hours}"/></td>
        </tr>
        <tr>
            <td><label>Starting day</label></td>
            <td><input type="date" th:field="*{startDate}"/></td>
        </tr>
        <tr>
            <td><label>Ending day</label></td>
            <td><input type="date" th:field="*{endDate}"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create new collaboration" /></td>
        </tr>
    </table>
</form>
</body>
</html>