<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Manage Collaborations</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="content"> <!-- insertamos contenido -->
<h1>Collaborations List</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Offer's DNI</th>
        <th>Request's DNI</th>
        <th>Skill ID</th>
        <th>Place</th>
        <th>State</th>
        <th>Score</th>
        <th>Hours</th>
        <th>Starting day</th>
        <th>Ending day</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="collaboration: ${collaborations}">
        <td th:text="${collaboration.dniOffer}"></td>
        <td th:text="${collaboration.dniRequest}"></td>
        <td th:text="${collaboration.skillId}"></td>
        <td th:text="${collaboration.place}"></td>
        <td th:text="${collaboration.state}"></td>
        <td th:text="${collaboration.score}"></td>
        <td th:text="${collaboration.hours}"></td>
        <td th:text="${collaboration.startDate}"></td>
        <td th:text="${collaboration.endDate}"></td>
        <td><a th:href="@{/collaboration/update/{dniOffer}/{dniRequest}/{skillId}/{state}(dniOffer=${offer.dniOffer},(dniRequest=${collaboration.dniRequest},skillId=${collaboration.skillId},state=${collaboration.state})}" class="btn btn-warning">Edit</a></td>
        <td><a th:href="@{/collaboration/delete/{dniOffer}/{dniRequest}/{skillId}/{state}(dniOffer=${offer.dniOffer},(dniRequest=${collaboration.dniRequest},skillId=${collaboration.skillId},state=${collaboration.state})}" class="btn btn-danger">Delete</a></td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-success">Add collaboration</a>
</body>
</html>