<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Create Skill</title>
    <link type="text/css" th:href="@{static/css/base.css}" href="static/css/base.css" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <h1>Create Requests</h1>

<!--<form action="#" th:action="@{/request/add}" th:object="${request}" method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td><label>Name</label></td>-->
<!--            <td><input type="text" th:field="*{name}" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label>Offer's DNI</label></td>-->
<!--            <td><input type="text" th:field="*{dniRequest}" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label>Skill ID</label></td>-->
<!--            <td><input type="number" th:field="*{skillId}" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label>Description</label></td>-->
<!--            <td><input type="text" th:field="*{description}" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label>Starting day</label></td>-->
<!--            <td><input type="date" th:field="*{startDate}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label>Ending day</label></td>-->
<!--            <td><input type="date" th:field="*{endDate}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td colspan="2"><input type="submit" value="Create new Request" /></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->

    <div class="loggeduser" th:object="${session}">
<!--        <p><span th:text="*{user}"></span> </p>-->
        <p th:if="*{user == null}">
            <meta http-equiv="refresh" content="0; URL=/login" th:href="@{/login}"/>
        </p>
    </div>



<div class="col-lg-7 mx-auto">
    <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
            <div class="container">
                <form action="#" th:action="@{/request/add}" th:object="${request}" method="post">
                    <div class="controls">

                        <div class="form-group"> <label for="form_name">Request name *</label> <input th:field="*{name}" id="form_name" type="text" name="name" class="form-control" placeholder="Name of the request (other students will be able to see this)." required="required" data-error="Name is required."> </div>

                        <div class="loggeduser" th:object="${session}">
                            <p class="form-group" th:unless="*{user == null}"> <label for="form_dni">DNI *</label> <input th:name="dniRequest" th:id="dniRequest" th:value="*{user.dni}" id="form_dni" type="text" name="dniOffer" class="form-control" required="required" data-error="Your DNI is required." readonly> </p>
                        </div>

                        <div class="form-group"> <label for="form_description">Description *</label> <textarea th:field="*{description}" id="form_description" name="description" class="form-control" placeholder="Write the description of the skill here." rows="4" required="required" data-error="A description is required."></textarea> </div>

                        <div class="form-group"> <label for="form_skill">Skill *</label>
                            <td> <select class="mdb-select md-form" id="form_skill" type="text" th:field="*{skillId}" searchable="Search here.." required="required" data-error="Please specify the skill.">
                                <option th:each="skill : ${skillsActive}" th:value="${skill.id}" th:text="${skill.name} + ' (' + ${skill.level} + ')'"></option>
                            </select>
                            </td>
                        </div>


                        <div class="form-group"> <label for="form_start">Start date</label>
                            <input id="form_start" type="date" name="start" th:field="*{startDate}" required="required" data-error="Select a date"/>
                        </div>

                        <div class="form-group"> <label for="form_end">End date</label>
                            <input id="form_end" type="date" name="end" th:field="*{endDate}" required="required" data-error="Select a date"/>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" class="btn buttonAddA btn-send pt-2 btn-block" value="Create Request">
                                <!--                                    <input href="/student/ban/{name}/{skillName}/{skillLevel}/{start}/{end}(name=${form.name},banned=${student.banned})" th:href="@{/student/ban/{dni}/{banned}(dni=${student.dni},banned=${student.banned})}" class="btn buttonWarning">Ban</input>-->

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- /.8 -->
</div> <!-- /.row-->
</div>

</body>
</html>